@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display');

body{
    font-family: 'Red Hat Display', sans-serif;
    background-image: 
        url(./images/pattern-background-desktop.svg);
    background-position: top; /* this positions the first image */
    background-repeat: no-repeat; 
    background-color: #e2e7fe;

}

.orderCard{
    background-color: #fff;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 450px;
    padding-bottom: 30px;
    transform: translate(-50%, -50%);
    border-radius: 15px;
}

.image{
    border-radius: 15px 15px 0px 0px;
}


.orderText{
    text-align: center;
    font-size: 18px;
}

h2{
    font-size: 27px;
    color: black;
}